body {
  background: linear-gradient(#05386b, #973aa8, #f7aef8, #5cdb95);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text {
  color: rgba(255, 255, 255, 0.795);
}
